<div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- kimjmin.net -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9760232529092117"
       data-ad-slot="1811620965"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>