/* 헤더 타이틀 글씨 크기 변경 및 그림자 적용. */
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  text-shadow: 0px 0px 4px black, 3px 3px 10px black, 0px 0px 10px white,  0px 0px 12px white, 0px 0px 16px white;
  font-size: 48px;
}

@media screen and (max-width: 500px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1280px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 72px;
  }
}

.intro-header .post-heading h1 {
  text-shadow: 0px 0px 3px black, 3px 3px 4px black, 3px 3px 8px black;
}

/* 헤더 설명 글씨 그림자 적용. */  
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  text-shadow: 0px 0px 2px black, 2px 2px 3px black, 2px 2px 6px black;
}

.intro-header .post-heading .subheading {
  text-shadow: 0px 0px 2px black, 2px 2px 3px black, 2px 2px 6px black;
}

/* 포스트 태그 컬러 */
.post-heading a.tag {
  color : black;
  box-shadow: 0px 0px 2px black, 2px 2px 4px black;
  background-color: rgba(255, 255, 255, 0.7);
}
.tags a:hover, .tags .tag:hover,
.tags a:active, .tags .tag:active {
  color : black;
  background-color: white;
  text-shadow: 0.5px 0.5px 1px black;
}

.intro-header .post-heading .meta {
  text-shadow: 0px 0px 2px black, 2px 2px 4px black;
}

/* 매뉴 네비게이션 바 글씨에 그림자 적용. */
/* 모바일 화면에서 항상 그림자 적용. */
@media screen and (max-width: 767px) {
  a.navbar-brand {
    text-shadow: 0px 0px 2px black, 1px 1px 2px black;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    box-shadow: 0px 0px 2px black, 1px 1px 2px black;
  }
}

@media only screen and (min-width: 768px) {
  
  .navbar-custom {
    text-shadow: 0px 0px 2px black, 2px 2px 4px black;
  }
    
  .navbar-custom.is-visible {
    text-shadow: none ;
  }
}

figure.highlight {
  padding: 6px 0px;
}

.intro-header {
  margin-bottom: 20px;
}

